@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #DAD9D3;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #DAD9D3;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-black:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
}

.section-title {
  padding-top: 120px;
}
.section-title p {
  color: #f94d1C;
  font-size: 18px;
}
.section-title h2 {
  font-family: "DM Sans", sans serif;
  font-size: 45px;
  font-weight: bold;
}

h3 {
  font-family: "DM Sans", sans serif;
  font-size: 22x;
  font-weight: 700;
  color: #191919;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* @media(min-width: 2500px) {
       max-width: 2048px;
   }*/
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .menu-bars {
    display: none;
  }
}
header .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .menu {
    display: block;
    gap: 20px;
  }
}
header .menu .top-menu {
  justify-content: space-between;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
  align-items: center;
}
@media (min-width: 992px) and (max-width: 1199px) {
  header .menu .top-menu .top-menu {
    display: flex;
    justify-content: space-between;
  }
  header .menu .top-menu .social-media {
    flex-grow: 1;
    text-align: right;
  }
}
@media (min-width: 1200px) {
  header .menu .top-menu {
    display: flex;
  }
}
header .menu .top-menu .contact-info {
  display: flex;
  align-items: center;
}
header .menu .top-menu .contact-info .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
@media (max-width: 1199px) {
  header .menu .top-menu .contact-info .content-box {
    display: none;
  }
}
header .menu .top-menu .contact-info .content-box i {
  margin-right: 5px;
  font-size: 1, 2rem;
  color: #666666;
}
header .menu .top-menu .contact-info .content-box.right {
  border: none;
}
header .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1, 3rem;
  margin-left: 12px;
}
header .menu .top-menu .social-media a:hover {
  color: #666666;
}
header .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .menu .main-menu nav a {
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
}
header .menu .main-menu nav a.active {
  font-weight: 500;
}
header .menu .main-menu nav a:hover {
  text-decoration: underline;
}

.showcase {
  background-color: #F0EFE9;
  padding-bottom: 30px;
  position: relative;
  z-index: 0;
}
.showcase .showcase-lines {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content h1 {
    font-size: 86px;
    text-align: left;
  }
}
.showcase .container .content p {
  font-size: 14px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    text-align: left;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  margin-bottom: 20px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.affiliates {
  background-color: #FFFFFF;
}
.affiliates .container {
  display: none;
}
@media (min-width: 992px) {
  .affiliates .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 75px;
  }
}
.affiliates .container img {
  padding-top: 20px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.features {
  background-color: #FFFFFF;
}
.features .container {
  padding-bottom: 110px;
  display: grid;
  grid: 1fr;
  gap: 40px;
  grid-template-areas: "big-1 big-1 small-1 small-2" "big-1 big-1 small-3 small-4";
}
.features .container .btn-features {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 25px;
  grid-area: big-1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 60px;
}
.features .container .btn-features i {
  padding-left: 10px;
}
.features .container .btn-features:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #DAD9D3;
}
.features .container .fa-regular.fa-handshake {
  font-size: 24px;
  padding-top: 115px;
  padding-bottom: 30px;
}
.features .container .fa-regular.fa-lightbulb-on {
  font-size: 24px;
  padding-top: 115px;
  padding-bottom: 30px;
}
.features .container .fa-light.fa-chart-mixed-up-circle-dollar {
  font-size: 24px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.features .container .fa-light.fa-cube {
  font-size: 24px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.features h2 {
  font-family: "DM Sans", sans serif;
  font-size: 45px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
}
.features h3 {
  font-family: "DM Sans", sans serif;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 20px;
}
.features .feat-1 {
  padding-top: 85px;
  padding-right: 100px;
  grid-area: big-1;
}
.features .feat-1 p {
  color: #f94d1C;
  font-size: 18px;
}
.features .feat-1 .feat-2 {
  grid-area: small-1;
}
.features .feat-1 .feat-3 {
  grid-area: small-2;
}
.features .feat-1 .feat-4 {
  grid-area: small-3;
}
.features .feat-1 .feat-5 {
  grid-area: small-4;
}

.about .container {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
}
.about .container .part-1 {
  position: relative;
}
.about .container .part-1 img {
  margin-left: 55px;
}
.about .container .part-1 .ontop-boxtext {
  position: absolute;
  bottom: 220px;
  background-color: #BEEBFF;
  padding-top: 40px;
  padding-bottom: 45px;
  padding-left: 25px;
  padding-right: 30px;
}
.about .container .part-1 .ontop-boxtext h3 {
  font-family: "DM Sans", sans serif;
  font-size: 20x;
  font-weight: 700;
  color: #191919;
}
.about .container .part-1 .ontop-boxtext h3 p1 {
  font-family: "DM Sans", sans serif;
  font-size: 16px;
  font-weight: 700;
  color: #f94d1C;
}
.about .container .part-1 .ontop-boxtext p2 {
  font-size: 16px;
  font-weight: 500;
  padding-top: 25px;
}
.about .container .section-title {
  padding-top: 0px;
  margin-left: 200px;
  text-align: left;
}
.about .container .section-title h2 {
  padding-bottom: 45px;
}
.about .container .section-title .lorem-1 {
  padding-bottom: 50px;
  letter-spacing: -1px;
}
.about .container .section-title .lorem-2 {
  padding-bottom: 80px;
  letter-spacing: -1px;
}
.about .container .btn-video {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-bottom: 25px;
}
.about .container .btn-video .btn-black {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.about .container .btn-video .btn-black:hover {
  background-color: #666666;
  color: #DAD9D3;
}
.about .container .btn-video .btn-intro {
  display: flex;
  background-color: transparent;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 50px;
}
.about .container .btn-video .btn-intro i {
  color: #191919;
  margin-left: 8px;
  font-size: 3rem;
  font-weight: 300;
}
.about .container .btn-video .btn-intro:hover {
  background-color: #F9D783;
}
.about .container .btn-video .btn-intro:hover i {
  color: #191919;
}
.about .container .btn-video .btn-intro:hover p {
  color: #191919;
}
.about .container .btn-video .intro {
  margin-left: 20px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
  text-decoration: none;
}
.about .container .btn-video .intro:hover {
  color: #DAD9D3;
}

.our-service {
  background-color: #F0EFE9;
  padding-bottom: 120px;
  position: relative;
}
.our-service .floating-lines {
  position: absolute;
  bottom: 0;
  right: 0;
}
.our-service .border .container {
  background-color: #F0EFE9;
}
.our-service .border .container .section-title {
  text-align: left;
}
.our-service .diff-service {
  display: flex;
  padding-top: 55px;
}
.our-service .diff-service .btn-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191919;
  background-color: #666666;
  text-decoration: none;
  height: 50px;
  width: 50px;
  font-weight: 600;
  font-size: 24px;
  border-radius: 50%;
}
.our-service .diff-service .empty-box {
  margin-left: 30px;
  height: 50px;
  width: 40px;
  border-bottom: 1px solid #191919;
}
.our-service .diff-service h3 {
  margin-left: 30px;
  margin-top: 45px;
  margin-bottom: 25px;
  letter-spacing: -1px;
}
.our-service .diff-service p {
  margin-top: 0px;
  margin-left: 30px;
  letter-spacing: -1px;
}
.our-service .diff-service .space {
  margin-top: 50px;
}
.our-service .diff-service .advice {
  background-color: #FFFFFF;
  margin-right: 30px;
}
.our-service .diff-service .advice .btn-arrow {
  display: flex;
  background-color: #191919;
  color: #FFFFFF;
  margin-top: 25px;
  margin-left: 220px;
  margin-right: 30px;
}
.our-service .diff-service .startup {
  background-color: #F9D783;
  margin-right: 30px;
}
.our-service .diff-service .startup .btn-arrow {
  background-color: #FFFFFF;
  color: #191919;
  margin-top: 25px;
  margin-left: 220px;
  margin-right: 30px;
}
.our-service .diff-service .financial {
  background-color: #FFFFFF;
  margin-right: 30px;
}
.our-service .diff-service .financial .btn-arrow {
  background-color: #191919;
  color: #FFFFFF;
  margin-top: 25px;
  margin-left: 220px;
  margin-right: 30px;
}
.our-service .diff-service .financial .space {
  margin-top: 50px;
}
.our-service .diff-service .risk {
  background-color: #FFFFFF;
}
.our-service .diff-service .risk .btn-arrow {
  background-color: #191919;
  color: #FFFFFF;
  margin-top: 25px;
  margin-left: 220px;
  margin-right: 30px;
}
.our-service .diff-service .risk .space {
  margin-top: 50px;
}
.our-service .btn-pos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
}

.why-us {
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  z-index: -2;
}
.why-us .container {
  padding-top: 70px;
  position: relative;
}
.why-us .container .text-plus-img {
  background-color: #FFFFFF;
  display: flex;
}
.why-us .container .text-plus-img .women-talking {
  max-height: 505px;
  max-width: 550px;
  position: absolute;
  top: 90px;
  right: 0px;
  z-index: 1;
}
.why-us .container .text-plus-img .grey-box {
  background-color: #F0EFE9;
  height: 420px;
  width: 1050px;
  position: absolute;
  right: -300px;
  bottom: 0;
  z-index: 0;
}
.why-us .container .text-plus-img .title-plus-icons {
  display: flex;
  flex-direction: column;
  margin-right: 115px;
  z-index: 2;
}
.why-us .container .text-plus-img .section-title {
  text-align: left;
  padding-top: 0px;
}
.why-us .container .text-plus-img .why-icons {
  display: flex;
  flex-direction: column;
}
.why-us .container .text-plus-img .why-icons .process {
  display: grid;
  grid-area: auto 1fr auto;
  margin-left: 0px;
  grid-template-areas: "img h3 area3" "img p area3";
}
.why-us .container .text-plus-img .why-icons .process .thumb {
  grid-area: img;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.why-us .container .text-plus-img .why-icons .process h3 {
  grid-area: h3;
  margin-bottom: 8px;
  margin-top: 10px;
}
.why-us .container .text-plus-img .why-icons .process p {
  grid-area: p;
  margin-top: 0px;
}
.why-us .container .text-plus-img .planning {
  display: grid;
  grid-area: auto 1fr auto;
  margin-left: 0px;
  grid-gap: 0px;
  grid-template-areas: "img h3 area3" "img p area3";
}
.why-us .container .text-plus-img .planning .strategy {
  grid-area: img;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.why-us .container .text-plus-img .planning h3 {
  grid-area: h3;
  margin-bottom: 8px;
  margin-top: 10px;
}
.why-us .container .text-plus-img .planning p {
  grid-area: p;
  margin-top: 0px;
}
.why-us .container .text-plus-img .ed {
  display: grid;
  grid-area: auto 1fr auto;
  margin-left: 0px;
  grid-gap: 0px;
  grid-template-areas: "img h3 area3" "img p area3";
}
.why-us .container .text-plus-img .ed .design {
  grid-area: img;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.why-us .container .text-plus-img .ed h3 {
  grid-area: h3;
  margin-bottom: 8px;
  margin-top: 10px;
}
.why-us .container .text-plus-img .ed p {
  grid-area: p;
  margin-top: 0px;
}
.why-us .container .text-plus-img .artificial {
  display: grid;
  grid-area: auto 1fr auto;
  margin-left: 0px;
  grid-gap: 0px;
  grid-template-areas: "img h3 area3" "img p area3";
}
.why-us .container .text-plus-img .artificial .ai {
  grid-area: img;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.why-us .container .text-plus-img .artificial h3 {
  grid-area: h3;
  margin-bottom: 8px;
  margin-top: 10px;
}
.why-us .container .text-plus-img .artificial p {
  grid-area: p;
  margin-top: 0px;
}

.projects .container .section-title {
  text-align: center;
  padding-bottom: 100px;
}
.projects .container .projects-cases {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  grid-gap: 30px;
}
.projects .container .projects-cases article {
  height: 100%;
  max-width: 645px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects .container .projects-cases article img {
  max-width: 645px;
  height: auto;
}
.projects .container .projects-cases article h3 {
  font-family: "DM Sans", sans serif;
  font-size: 22x;
  font-weight: 700;
  text-align: start;
  letter-spacing: -2px;
  border-bottom: 1px solid #DAD9D3;
  padding-top: 35px;
  padding-bottom: 16px;
}
.projects .container .projects-cases a {
  display: flex;
  justify-content: end;
  text-decoration: none;
  margin-right: 50px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #191919;
}
.projects .container .projects-cases a i {
  padding-left: 5px;
}
.projects .container .btn {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 90px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.team {
  background-color: #F9D783;
}
.team .container.one {
  padding-bottom: 95px;
}
.team .container.one .section-title {
  display: grid;
  grid: 1f;
  grid-template-areas: "p  n" "h2 btn";
}
.team .container.one .section-title p {
  grid-area: p;
}
.team .container.one .section-title h2 {
  grid-area: h2;
}
.team .container.one .section-title .btn-yellow {
  grid-area: btn;
  border: 1px solid #191919;
  text-align: center;
  height: 50px;
  width: 220px;
  padding: 15px;
  justify-self: end;
}
.team .container.two {
  display: flex;
  gap: 30px;
}
.team .container.two h3 {
  letter-spacing: -2px;
}
.team .dots {
  display: flex;
  font-size: 4rem;
  color: rgba(25, 25, 25, 0.2274509804);
  justify-content: center;
}
.team .dots i {
  max-width: 25px;
}
.team .dots #darkdot {
  color: #191919;
}

.newsletter {
  display: flex;
  position: relative;
  background-color: #F0EFE9;
  padding-top: 80px;
  padding-bottom: 80px;
}
.newsletter .background-lines {
  position: absolute;
  right: 0;
  bottom: 60px;
}
.newsletter .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newsletter .container h2 {
  font-family: "DM sans, sans serif";
  font-size: 45px;
  font-weight: 700;
}
.newsletter .container form input {
  color: #191919;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 25px;
  outline: none;
  border: 1px solid #DAD9D3;
  margin-right: 20px;
}
.newsletter .container form .btn-yellow {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 400;
}