@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.wrapper-grid {
  /* height: 100vh;*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-black:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
}

.section-title {
  padding-top: 120px;
}
.section-title p {
  color: #f94d1C;
  font-size: 18px;
}
.section-title h2 {
  font-family: "DM Sans", sans serif;
  font-size: 45px;
  font-weight: bold;
}

h3 {
  font-family: "DM Sans", sans serif;
  font-size: 22x;
  font-weight: 700;
  color: #191919;
}

.header {
  background-color: #F0EFE9;
  padding: 16px;
  padding-bottom: 80px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  top: 0;
  position: sticky;
  z-index: 10;
}
.header .logo {
  align-items: center;
  justify-self: left;
}
.header .menu-bars {
  color: #191919;
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  .header .menu-bars {
    display: none;
  }
}
.header .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  .header .menu {
    display: block;
    gap: 20px;
  }
}
.header .top-menu {
  justify-content: space-between;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
  align-items: center;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header .top-menu {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .header .top-menu {
    display: flex;
  }
}
.header .top-menu .contact-info {
  display: none;
}
@media (min-width: 1200px) {
  .header .top-menu .contact-info {
    display: block;
    display: flex;
    align-items: center;
  }
}
.header .top-menu .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.header .top-menu i {
  margin-right: 5px;
  font-size: 1, 2rem;
  color: #666666;
}
.header .top-menu.right {
  border: none;
}
.header .top-menu .social-media a {
  color: #191919;
  font-size: 1, 3rem;
  margin-left: 12px;
}
.header .top-menu .social-media a:hover {
  color: #666666;
}
.header .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.header .main-menu nav a {
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
}
.header .main-menu nav a.active {
  font-weight: 500;
}
.header .main-menu nav a:hover {
  text-decoration: underline;
}

.first-section {
  background-color: #F0EFE9;
  position: relative;
  height: 220px;
}
.first-section .container {
  background-color: #F0EFE9;
}
.first-section .lines {
  color: #FFFFFF;
  display: block;
  position: absolute;
  max-width: 50%;
  bottom: 0;
}
.first-section .connection {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
.first-section .connection a {
  color: #191919;
  text-decoration: none;
}
.first-section .connection a:hover {
  color: #f94d1C;
}
.first-section h1 {
  text-align: center;
  margin-top: 20px;
  font-family: "DM Sans", sans serif;
  font-size: 56px;
  font-weight: 700;
  color: #191919;
}

.contact-ways {
  background-color: #FFFFFF;
}
.contact-ways .container {
  background-color: #FFFFFF;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 35px;
  padding-top: 120px;
  padding-bottom: 80px;
  padding-left: 0;
  padding-right: 0;
}
.contact-ways .container .btn-black {
  font-size: 20px;
  border: none;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-top: 50px;
  margin-left: 55px;
  margin-right: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  grid-area: icon;
}
.contact-ways .container .btn-black:hover {
  background-color: #F9D783;
  color: #191919;
}
.contact-ways .container .btn-black i {
  margin: 0;
  font-size: 1em;
}
.contact-ways article {
  width: 420px;
  height: 205px;
  border: 1px solid #666666;
  text-align: left;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "icon h3" "empty line-1" "empty line-2";
}
.contact-ways h3 {
  grid-area: h3;
  font-size: 22px;
  font-weight: 700px;
  margin-bottom: 30px;
  margin-top: 60px;
}
.contact-ways .line-1 {
  grid-area: line-1;
  letter-spacing: -1px;
  line-height: 15px;
}
.contact-ways .line-2 {
  grid-area: line-2;
  letter-spacing: -1px;
  line-height: 15px;
}
.contact-ways .nr-1 {
  grid-area: line-1;
  letter-spacing: -1px;
  line-height: 15px;
}
.contact-ways .nr-2 {
  grid-area: line-2;
  letter-spacing: -1px;
  line-height: 15px;
}
.contact-ways .mail {
  grid-area: line-1;
  text-decoration: none;
  letter-spacing: -1px;
  line-height: 25px;
  font-size: 18px;
  color: #191919;
}
.contact-ways .mail:hover {
  color: #f94d1C;
}
.contact-ways .support {
  grid-area: line-2;
  text-decoration: none;
  letter-spacing: -1px;
  line-height: 25px;
  font-size: 18px;
  color: #191919;
}
.contact-ways .support:hover {
  color: #f94d1C;
}

.message {
  background-color: #FFFFFF;
}
.message .container {
  background-color: #F0EFE9;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 100px;
}
.message h2 {
  font-family: "DM sans", "sans serif";
  font-size: 45px;
  font-weight: 700;
  padding-top: 125px;
  padding-bottom: 25px;
}
.message input {
  width: 80%;
  border-radius: 25px;
  border: none;
  padding: 20px;
}
.message .your-mess input {
  text-align: left;
  height: 160px;
  width: 80%;
  position: relative;
}
.message .your-mess input::value {
  text-align: left;
  position: absolute;
  top: 20px;
  left: 20px;
}
.message .your-mess input::-moz-placeholder {
  text-align: left;
  position: absolute;
  top: 20px;
  left: 20px;
}
.message .your-mess input::placeholder {
  text-align: left;
  position: absolute;
  top: 20px;
  left: 20px;
}
.message .btn-yellow {
  width: 80%;
  align-self: center;
}

footer {
  background-color: #191919;
  padding-top: 90px;
}
@media (min-width: 1200px) {
  footer {
    padding-top: 115px;
  }
}
footer .footer-1 {
  position: relative;
}
footer .footer-1 .lines {
  display: none;
}
@media (min-width: 1200px) {
  footer .footer-1 .lines {
    display: block;
    max-width: 50%;
    color: #666666;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 50%;
    z-index: 1;
  }
}
@media (min-width: 1400px) {
  footer .footer-1 .lines {
    max-width: 100%;
  }
}
footer .footer-1 .container {
  display: grid;
  grid: 1fr auto auto auto auto;
  grid-template-areas: "logo company tre resources link";
  padding: 0px;
  padding-bottom: 0px;
  position: relative;
  z-index: 0;
}
footer .footer-1 .container .logo-text {
  grid-area: logo;
  display: grid;
  justify-content: left;
  grid-template-areas: "logo" "p";
  grid-template-rows: 1fr 3fr;
}
footer .footer-1 .container .logo-text .logo {
  grid-area: logo;
  grid-area: span 2;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
footer .footer-1 .container .logo-text a {
  grid-area: logo;
  grid-area: span 2;
  margin-top: 20%;
  margin-right: 50px;
}
@media (min-width: 1200px) {
  footer .footer-1 .container .logo-text a {
    grid-area: span 1;
    justify-content: left;
    margin-top: 5px;
    margin-bottom: 30px;
  }
}
footer .footer-1 .container .logo-text p {
  display: none;
}
@media (min-width: 1200px) {
  footer .footer-1 .container .logo-text p {
    display: block;
    grid-area: p;
    color: #FFFFFF;
    line-height: 30px;
    margin-right: 30px;
  }
}
footer .footer-1 .container article {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  z-index: 2;
  position: relative;
}
footer .footer-1 .container article a {
  display: grid;
  text-decoration: none;
  color: #FFFFFF;
}
footer .footer-1 .container article h3 {
  color: #FFFFFF;
  padding-top: 10px;
}
footer .footer-1 .container .company {
  grid-area: company;
  padding-right: 30px;
}
footer .footer-1 .container .company .inside {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  footer .footer-1 .container .company .inside {
    margin-bottom: 30px;
  }
}
footer .footer-1 .container .company .inside h3 {
  margin-bottom: 40px;
}
footer .footer-1 .container .company .inside a {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  footer .footer-1 .container .company .inside a {
    margin-bottom: 30px;
  }
}
footer .footer-1 .container .help {
  grid-area: tre;
  padding-right: 20px;
}
footer .footer-1 .container .help .inside {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  footer .footer-1 .container .help .inside {
    margin-bottom: 30px;
  }
}
footer .footer-1 .container .help .inside h3 {
  margin-bottom: 40px;
}
footer .footer-1 .container .help .inside a {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  footer .footer-1 .container .help .inside a {
    margin-bottom: 30px;
  }
}
footer .footer-1 .container .resources {
  grid-area: resources;
  padding-right: 20px;
}
footer .footer-1 .container .resources .inside {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  footer .footer-1 .container .resources .inside {
    margin-bottom: 30px;
  }
}
footer .footer-1 .container .resources .inside h3 {
  margin-bottom: 40px;
}
footer .footer-1 .container .resources .inside a {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  footer .footer-1 .container .resources .inside a {
    margin-bottom: 30px;
  }
}
footer .footer-1 .container .links {
  grid-area: link;
}
footer .footer-1 .container .links .inside {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  footer .footer-1 .container .links .inside {
    margin-bottom: 30px;
  }
}
footer .footer-1 .container .links .inside h3 {
  margin-bottom: 40px;
}
footer .footer-1 .container .links .inside a {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  footer .footer-1 .container .links .inside a {
    margin-bottom: 30px;
  }
}
footer .border {
  color: #707070;
}
footer .container.bottom {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 35px;
}
footer .container.bottom p {
  color: #FFFFFF;
}
footer .container.bottom .social-media a {
  color: #FFFFFF;
  font-size: 1, 3rem;
  margin-left: 12px;
}
footer .container.bottom .social-media a:hover {
  color: #666666;
}