@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #DAD9D3;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #DAD9D3;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-black:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
}

.section-title {
  padding-top: 120px;
}
.section-title p {
  color: #f94d1C;
  font-size: 18px;
}
.section-title h2 {
  font-family: "DM Sans", sans serif;
  font-size: 45px;
  font-weight: bold;
}

h3 {
  font-family: "DM Sans", sans serif;
  font-size: 22x;
  font-weight: 700;
  color: #191919;
}

.header {
  background-color: #F0EFE9;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* @media(min-width: 2500px) {
       max-width: 2048px;
   }*/
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.header .logo {
  align-items: center;
  justify-self: left;
}
.header .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  .header .menu-bars {
    display: none;
  }
}
.header .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  .header .menu {
    display: block;
    gap: 20px;
  }
}
.header .menu .top-menu {
  justify-content: space-between;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
  align-items: center;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header .menu .top-menu .top-menu {
    display: flex;
    justify-content: space-between;
  }
  .header .menu .top-menu .social-media {
    flex-grow: 1;
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .header .menu .top-menu {
    display: flex;
  }
}
.header .menu .top-menu .contact-info {
  display: flex;
  align-items: center;
}
.header .menu .top-menu .contact-info .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
@media (max-width: 1199px) {
  .header .menu .top-menu .contact-info .content-box {
    display: none;
  }
}
.header .menu .top-menu .contact-info .content-box i {
  margin-right: 5px;
  font-size: 1, 2rem;
  color: #666666;
}
.header .menu .top-menu .contact-info .content-box.right {
  border: none;
}
.header .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1, 3rem;
  margin-left: 12px;
}
.header .menu .top-menu .social-media a:hover {
  color: #666666;
}
.header .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.header .menu .main-menu nav a {
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
}
.header .menu .main-menu nav a.active {
  font-weight: 500;
}
.header .menu .main-menu nav a:hover {
  text-decoration: underline;
}

.showcase {
  background-color: #F0EFE9;
  padding-bottom: 30px;
  position: relative;
  z-index: 0;
}
.showcase .showcase-lines {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content h1 {
    font-size: 86px;
    text-align: left;
  }
}
.showcase .container .content p {
  font-size: 14px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    text-align: left;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  margin-bottom: 20px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.affiliates {
  background-color: #FFFFFF;
}
.affiliates .container {
  display: none;
}
@media (min-width: 992px) {
  .affiliates .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 75px;
  }
}
.affiliates .container img {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.features {
  background-color: #FFFFFF;
}
.features .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 70px;
  border: none;
}
.features .container .btn-features {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 60px;
  max-width: 460px;
}
.features .container .btn-features i {
  padding-left: 10px;
}
.features .container .btn-features:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #DAD9D3;
}
@media (max-width: 1200px) {
  .features .container .btn-features {
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .features .container {
    text-align: left;
    padding-bottom: 110px;
    display: flex;
    flex-direction: row;
    gap: 80px;
  }
}
@media (min-width: 1400px) {
  .features .container {
    gap: 140px;
  }
}
@media (min-width: 1200px) {
  .features .container .feat-1 {
    max-width: 470px;
  }
}
.features .container .feat-1 p {
  color: #f94d1C;
  font-size: 18px;
  text-align: center;
  letter-spacing: -1px;
}
@media (min-width: 1200px) {
  .features .container .feat-1 p {
    text-align: left;
    padding-top: 80px;
  }
}
.features .container .feat-1 h2 {
  font-family: "DM Sans", sans serif;
  font-size: 45px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 1200px) {
  .features .container .feat-1 h2 {
    padding-top: 0px;
  }
}
.features .container .feats {
  display: grid;
  text-align: center;
  grid-template-areas: "feat-2 feat-3" "feat-4 feat-5";
  padding-top: 40px;
  padding-left: 40px;
}
@media (min-width: 1200px) {
  .features .container .feats {
    padding-top: 105px;
    padding-left: 0px;
  }
}
.features .container .feats h3 {
  font-family: "DM Sans", sans serif;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 20px;
  align-self: center;
}
@media (min-width: 1200px) {
  .features .container .feats h3 {
    align-self: flex-start;
  }
}
.features .container .feats p {
  letter-spacing: -1px;
  align-self: center;
  text-align: center;
}
@media (min-width: 1200px) {
  .features .container .feats p {
    text-align: left;
  }
}
.features .container .feats .feat-2 {
  grid-area: feat-2;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  max-width: 307px;
}
@media (min-width: 1200px) {
  .features .container .feats .feat-2 {
    padding-bottom: 60px;
    align-items: start;
  }
}
.features .container .feats .feat-3 {
  grid-area: feat-3;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  max-width: 307px;
}
@media (min-width: 1200px) {
  .features .container .feats .feat-3 {
    padding-bottom: 60px;
    align-items: start;
  }
}
.features .container .feats .feat-4 {
  grid-area: feat-4;
  display: flex;
  flex-direction: column;
  max-width: 307px;
}
@media (min-width: 1200px) {
  .features .container .feats .feat-4 {
    padding-bottom: 60px;
    align-items: start;
  }
}
.features .container .feats .feat-5 {
  grid-area: feat-5;
  display: flex;
  flex-direction: column;
  max-width: 307px;
}
@media (min-width: 1200px) {
  .features .container .feats .feat-5 {
    padding-bottom: 60px;
    align-items: start;
  }
}
.features .container .feats .fa-regular.fa-handshake {
  font-size: 24px;
  padding-bottom: 30px;
}
.features .container .feats .fa-regular.fa-lightbulb-on {
  font-size: 24px;
  padding-bottom: 30px;
}
.features .container .feats .fa-light.fa-chart-mixed-up-circle-dollar {
  font-size: 24px;
  padding-bottom: 30px;
}
.features .container .feats .fa-light.fa-cube {
  font-size: 24px;
  padding-bottom: 30px;
}

.about .container {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
@media (min-width: 1400px) {
  .about .container {
    flex-direction: row;
  }
}
.about .container .part-1 {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 1400px) {
  .about .container .part-1 {
    text-align: left;
  }
}
@media (min-width: 1400px) {
  .about .container .part-1 img {
    margin-left: 55px;
  }
}
.about .container .part-1 .ontop-boxtext {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-80%);
  background-color: #BEEBFF;
  padding-top: 40px;
  padding-bottom: 45px;
  padding-left: 25px;
  padding-right: 30px;
  max-width: 365px;
  max-height: 180px;
}
@media (min-width: 1400px) {
  .about .container .part-1 .ontop-boxtext {
    left: 0%;
    transform: translateX(0%);
  }
}
.about .container .part-1 .ontop-boxtext h3 {
  font-family: "DM Sans", sans serif;
  font-size: 20x;
  font-weight: 700;
  color: #191919;
}
.about .container .part-1 .ontop-boxtext h3 p1 {
  font-family: "DM Sans", sans serif;
  font-size: 16px;
  font-weight: 700;
  color: #f94d1C;
}
.about .container .part-1 .ontop-boxtext p2 {
  font-size: 16px;
  font-weight: 500;
  padding-top: 25px;
  letter-spacing: -1px;
  max-width: 310px;
}
.about .container .section-title {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media (min-width: 1400px) {
  .about .container .section-title {
    margin-left: 200px;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .about .container .section-title h2 {
    padding-bottom: 45px;
  }
  .about .container .section-title .lorem-1 {
    padding-bottom: 50px;
    letter-spacing: -1px;
  }
  .about .container .section-title .lorem-2 {
    padding-bottom: 80px;
    letter-spacing: -1px;
  }
}
.about .container .section-title .btn-video {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-bottom: 25px;
}
.about .container .section-title .btn-video .btn-black {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.about .container .section-title .btn-video .btn-black:hover {
  background-color: #666666;
  color: #DAD9D3;
}
.about .container .section-title .btn-video .btn-intro {
  display: flex;
  background-color: transparent;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 50px;
}
.about .container .section-title .btn-video .btn-intro i {
  color: #191919;
  margin-left: 8px;
  font-size: 3rem;
  font-weight: 300;
}
.about .container .section-title .btn-video .btn-intro:hover {
  background-color: #F9D783;
}
.about .container .section-title .btn-video .btn-intro:hover i {
  color: #191919;
}
.about .container .section-title .btn-video .btn-intro:hover p {
  color: #191919;
}
.about .container .section-title .btn-video .intro {
  margin-left: 20px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
  text-decoration: none;
}
.about .container .section-title .btn-video .intro:hover {
  color: #DAD9D3;
}

.our-service {
  background-color: #F0EFE9;
  padding-bottom: 120px;
  position: relative;
}
.our-service .floating-lines {
  position: absolute;
  bottom: 0;
  right: 0;
}
.our-service .container {
  background-color: #F0EFE9;
}
.our-service .container .section-title {
  text-align: left;
}
.our-service .diff-service {
  display: flex;
  padding-top: 55px;
}
.our-service .diff-service .btn-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191919;
  background-color: #666666;
  text-decoration: none;
  height: 50px;
  width: 50px;
  font-weight: 600;
  font-size: 24px;
  border-radius: 50%;
}
.our-service .diff-service .empty-box {
  margin-left: 30px;
  height: 50px;
  width: 40px;
  border-bottom: 1px solid #191919;
}
.our-service .diff-service h3 {
  margin-left: 30px;
  margin-top: 45px;
  margin-bottom: 25px;
  letter-spacing: -1px;
}
.our-service .diff-service p {
  margin-top: 0px;
  margin-left: 30px;
  letter-spacing: -1px;
}
.our-service .diff-service .space {
  margin-top: 50px;
}
.our-service .diff-service .advice {
  background-color: #FFFFFF;
  margin-right: 30px;
}
.our-service .diff-service .advice .btn-arrow {
  display: flex;
  background-color: #191919;
  color: #FFFFFF;
  margin-top: 25px;
  margin-left: 220px;
  margin-right: 30px;
}
.our-service .diff-service .startup {
  background-color: #F9D783;
  margin-right: 30px;
}
.our-service .diff-service .startup .btn-arrow {
  background-color: #FFFFFF;
  color: #191919;
  margin-top: 25px;
  margin-left: 220px;
  margin-right: 30px;
}
.our-service .diff-service .financial {
  background-color: #FFFFFF;
  margin-right: 30px;
}
.our-service .diff-service .financial .btn-arrow {
  background-color: #191919;
  color: #FFFFFF;
  margin-top: 25px;
  margin-left: 220px;
  margin-right: 30px;
}
.our-service .diff-service .financial .space {
  margin-top: 50px;
}
.our-service .diff-service .risk {
  background-color: #FFFFFF;
}
.our-service .diff-service .risk .btn-arrow {
  background-color: #191919;
  color: #FFFFFF;
  margin-top: 25px;
  margin-left: 220px;
  margin-right: 30px;
}
.our-service .diff-service .risk .space {
  margin-top: 50px;
}
.our-service .btn-pos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
}

.why-us {
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  z-index: -2;
}
.why-us .container {
  padding-top: 70px;
  position: relative;
}
.why-us .container .text-plus-img {
  background-color: #FFFFFF;
  display: flex;
}
.why-us .container .text-plus-img .women-talking {
  max-height: 505px;
  max-width: 550px;
  position: absolute;
  top: 90px;
  right: 0px;
  z-index: 1;
}
.why-us .container .text-plus-img .grey-box {
  background-color: #F0EFE9;
  height: 420px;
  width: 1050px;
  position: absolute;
  right: -300px;
  bottom: 0;
  z-index: 0;
}
.why-us .container .text-plus-img .title-plus-icons {
  display: flex;
  flex-direction: column;
  margin-right: 115px;
  z-index: 2;
}
.why-us .container .text-plus-img .section-title {
  text-align: left;
  padding-top: 0px;
}
.why-us .container .text-plus-img .why-icons {
  display: flex;
  flex-direction: column;
}
.why-us .container .text-plus-img .why-icons .process {
  display: grid;
  grid-area: auto 1fr auto;
  margin-left: 0px;
  grid-template-areas: "img h3 area3" "img p area3";
}
.why-us .container .text-plus-img .why-icons .process .thumb {
  grid-area: img;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.why-us .container .text-plus-img .why-icons .process h3 {
  grid-area: h3;
  margin-bottom: 8px;
  margin-top: 10px;
}
.why-us .container .text-plus-img .why-icons .process p {
  grid-area: p;
  margin-top: 0px;
}
.why-us .container .text-plus-img .planning {
  display: grid;
  grid-area: auto 1fr auto;
  margin-left: 0px;
  grid-gap: 0px;
  grid-template-areas: "img h3 area3" "img p area3";
}
.why-us .container .text-plus-img .planning .strategy {
  grid-area: img;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.why-us .container .text-plus-img .planning h3 {
  grid-area: h3;
  margin-bottom: 8px;
  margin-top: 10px;
}
.why-us .container .text-plus-img .planning p {
  grid-area: p;
  margin-top: 0px;
}
.why-us .container .text-plus-img .ed {
  display: grid;
  grid-area: auto 1fr auto;
  margin-left: 0px;
  grid-gap: 0px;
  grid-template-areas: "img h3 area3" "img p area3";
}
.why-us .container .text-plus-img .ed .design {
  grid-area: img;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.why-us .container .text-plus-img .ed h3 {
  grid-area: h3;
  margin-bottom: 8px;
  margin-top: 10px;
}
.why-us .container .text-plus-img .ed p {
  grid-area: p;
  margin-top: 0px;
}
.why-us .container .text-plus-img .artificial {
  display: grid;
  grid-area: auto 1fr auto;
  margin-left: 0px;
  grid-gap: 0px;
  grid-template-areas: "img h3 area3" "img p area3";
}
.why-us .container .text-plus-img .artificial .ai {
  grid-area: img;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.why-us .container .text-plus-img .artificial h3 {
  grid-area: h3;
  margin-bottom: 8px;
  margin-top: 10px;
}
.why-us .container .text-plus-img .artificial p {
  grid-area: p;
  margin-top: 0px;
}

.projects .container .section-title {
  text-align: center;
  padding-bottom: 100px;
}
.projects .container .projects-cases {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  grid-gap: 30px;
}
.projects .container .projects-cases article {
  height: 100%;
  max-width: 645px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects .container .projects-cases article img {
  max-width: 645px;
  height: auto;
}
.projects .container .projects-cases article h3 {
  font-family: "DM Sans", sans serif;
  font-size: 22x;
  font-weight: 700;
  text-align: start;
  letter-spacing: -2px;
  border-bottom: 1px solid #DAD9D3;
  padding-top: 35px;
  padding-bottom: 16px;
}
.projects .container .projects-cases a {
  display: flex;
  justify-content: end;
  text-decoration: none;
  margin-right: 50px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #191919;
}
.projects .container .projects-cases a i {
  padding-left: 5px;
}
.projects .container .btn {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 90px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.team {
  background-color: #F9D783;
}
.team .container.one {
  padding-bottom: 95px;
}
.team .container.one .section-title {
  display: grid;
  grid: 1f;
  grid-template-areas: "p  n" "h2 btn";
}
.team .container.one .section-title p {
  grid-area: p;
}
.team .container.one .section-title h2 {
  grid-area: h2;
}
.team .container.one .section-title .btn-yellow {
  grid-area: btn;
  border: 1px solid #191919;
  text-align: center;
  height: 50px;
  width: 220px;
  padding: 15px;
  justify-self: end;
}
.team .container.two {
  display: flex;
  gap: 30px;
}
.team .container.two h3 {
  letter-spacing: -2px;
}
.team .dots {
  display: flex;
  font-size: 4rem;
  color: rgba(25, 25, 25, 0.2274509804);
  justify-content: center;
}
.team .dots i {
  max-width: 25px;
  padding-bottom: 50px;
}
.team .dots #darkdot {
  color: #191919;
}

.testamonial {
  background-color: #F9D783;
}
.testamonial .container.one {
  text-align: center;
  padding-bottom: 120px;
  background-color: #FFFFFF;
  max-width: 1555px;
}
.testamonial .container.two {
  text-align: left;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-top: 100px;
  padding-bottom: 95px;
  margin-left: 100px;
}
.testamonial .container.two i {
  color: #f94d1C;
}
.testamonial .container.two .stars {
  margin-left: 30px;
}
.testamonial .container.two p {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 34px;
}
.testamonial .container.two .mini-grid {
  margin-top: 40px;
  margin-left: 30px;
  text-align: start;
  display: grid;
  grid: auto;
  grid-template-areas: "pics name name name" "pics title title title";
}
.testamonial .container.two .mini-grid p {
  margin-top: -5px;
  margin-left: 0px;
  letter-spacing: -1px;
  font-size: 16px;
  color: #f94d1C;
  grid-area: title;
}
.testamonial .container.two .mini-grid h3 {
  margin-left: 0px;
  margin-top: 5px;
  grid-area: name;
}
.testamonial .container.two .mini-grid img {
  grid-area: pics;
}
.testamonial .container.two .cassandra {
  max-width: 370px;
  margin-right: 65px;
}
.testamonial .container.two .amanda {
  max-width: 370px;
  margin-right: 65px;
}
.testamonial .container.two .jack {
  max-width: 370px;
}
.testamonial .btn-black {
  padding: 15px 20px;
}
.testamonial .btn-black:hover {
  background-color: #F9D783;
  color: #191919;
}
.testamonial .gap {
  height: 120px;
}

.news-articles {
  background-color: #FFFFFF;
}
.news-articles .container.one {
  background-color: #FFFFFF;
  padding: 0px;
  padding-bottom: 40px;
}
.news-articles .container.one .section-title {
  display: grid;
  grid: 1f;
  grid-template-areas: "p  n" "h2 btn";
}
.news-articles .container.one .section-title p {
  grid-area: p;
}
.news-articles .container.one .section-title h2 {
  grid-area: h2;
}
.news-articles .container.one .section-title .btn-transparent {
  grid-area: btn;
  border: 1px solid #191919;
  text-align: center;
  justify-content: center;
  height: 55px;
  width: 220px;
  padding: 15px;
  justify-self: end;
}
.news-articles .container.dates {
  background-color: #FFFFFF;
  padding: 0px;
  display: flex;
  gap: 30px;
}
.news-articles .container.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 90px;
  padding-top: 65px;
}
.news-articles .container.dots i {
  max-width: 25px;
  padding-bottom: 50px;
  font-size: 4rem;
  color: rgba(25, 25, 25, 0.2274509804);
  justify-content: center;
}
.news-articles .container.dots #darkdot {
  color: #191919;
}

.newsletter {
  display: flex;
  position: relative;
  background-color: #F0EFE9;
  padding-top: 80px;
  padding-bottom: 105px;
}
.newsletter .background-lines {
  display: none;
}
@media (min-width: 1600px) {
  .newsletter .background-lines {
    display: block;
    position: absolute;
    right: 0;
    bottom: 55px;
    z-index: 0;
  }
}
.newsletter .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
@media (max-width: 1400px) {
  .newsletter .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
  }
}
.newsletter h2 {
  font-family: "DM sans, sans serif";
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 0px;
}
@media (min-width: 1400px) {
  .newsletter h2 {
    margin-right: 150px;
  }
}
.newsletter form input {
  color: #191919;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 70px;
  border-radius: 25px;
  outline: none;
  border: 1px solid #DAD9D3;
}
.newsletter .btn-yellow {
  padding: 15px 20px;
  margin-right: 50px;
  margin-left: 20px;
}
@media (min-width: 1400px) {
  .newsletter .btn-yellow {
    margin-right: 0px;
    margin-left: 0px;
  }
}

footer {
  background-color: #191919;
  padding-top: 115px;
}
footer .container {
  display: grid;
  grid: 1fr auto auto auto auto;
  grid-template-areas: "logo company tre resources link";
  padding: 0px;
  padding-bottom: 90px;
  position: relative;
  z-index: 0;
}
footer .container article {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
}
footer .container article a {
  display: grid;
}
footer .container article h3 {
  color: #FFFFFF;
  padding-top: 10px;
}
footer .container .logo-text {
  grid-area: logo;
  display: grid;
  justify-content: left;
  grid-template-areas: "logo" "p";
  grid-template-rows: 1fr 3fr;
}
footer .container .logo {
  grid-area: logo;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
footer .container a {
  justify-content: left;
  margin-top: 5px;
  margin-bottom: 30px;
}
footer .container p {
  grid-area: p;
  color: #FFFFFF;
}
footer .company {
  grid-area: company;
  padding-right: 30px;
}
footer .company .inside {
  margin-bottom: 30px;
}
footer .company h3 {
  margin-bottom: 40px;
}
footer .company a {
  display: grid;
  text-decoration: none;
  color: #FFFFFF;
}
footer .help {
  grid-area: tre;
  padding-right: 13px;
}
footer .help .inside {
  margin-bottom: 30px;
}
footer .help h3 {
  margin-bottom: 40px;
}
footer .help a {
  display: grid;
  text-decoration: none;
  color: #FFFFFF;
}
footer .resources {
  grid-area: resources;
}
footer .resources .inside {
  margin-bottom: 30px;
}
footer .resources h3 {
  margin-bottom: 40px;
}
footer .resources a {
  display: grid;
  text-decoration: none;
  color: #FFFFFF;
}
footer .links {
  grid-area: link;
}
footer .links .inside {
  margin-bottom: 30px;
}
footer .links h3 {
  margin-bottom: 40px;
}
footer .links a {
  display: grid;
  text-decoration: none;
  color: #FFFFFF;
}
footer .lines {
  position: absolute;
  left: 1320px;
  bottom: 0;
  color: #666666;
}
footer .border {
  color: #666666;
}
footer .container.bottom {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 35px;
}
footer .container.bottom .social-media a {
  color: #FFFFFF;
  font-size: 1, 3rem;
  margin-left: 12px;
}
footer .container.bottom .social-media a:hover {
  color: #666666;
}