@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #DAD9D3;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #DAD9D3;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .menu-bars {
    display: none;
  }
}
header .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .menu {
    display: block;
    gap: 20px;
  }
}
header .menu .top-menu {
  justify-content: space-between;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
  align-items: center;
}
@media (min-width: 1200px) {
  header .menu .top-menu {
    display: flex;
  }
}
header .menu .top-menu .contact-info {
  display: flex;
  align-items: center;
}
header .menu .top-menu .contact-info .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
@media (max-width: 1199px) {
  header .menu .top-menu .contact-info .content-box {
    display: none;
  }
}
header .menu .top-menu .contact-info .content-box i {
  margin-right: 5px;
  font-size: 1, 2rem;
  color: #666666;
}
header .menu .top-menu .contact-info .content-box.right {
  border: none;
}
header .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1, 3rem;
  margin-left: 12px;
}
header .menu .top-menu .social-media a:hover {
  color: #666666;
}
header .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .menu .main-menu nav a {
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
}
header .menu .main-menu nav a.active {
  font-weight: 500;
}
header .menu .main-menu nav a:hover {
  text-decoration: underline;
}
@media (min-width: 2500px) {
  header {
    max-width: 2048px;
  }
}

.showcase {
  background-color: #F0EFE9;
  padding-bottom: 30px;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content h1 {
    font-size: 86px;
    text-align: left;
  }
}
.showcase .container .content p {
  font-size: 14px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    text-align: left;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  margin-bottom: 20px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}